:root {
  --color-main: #ff004d;
  --color-bg: #fff;
  --color-text: #404040;
  --shade-dark: rgba(0, 0, 0, 0.7475);
  --color-light: #f4f4f4;
  --shade-light: rgba(0, 0, 0, 0.04);
  --color-medium: #b8b8b8;
  --shade-medium: rgba(0, 0, 0, 0.175);
  --color-mau: #e4022d;

  --color-danger: #ff004d;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: "Open Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.button-action {
  border: 0;
  color: var(--color-light);
  background-color: var(--color-text);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}
.button-action:hover,
.button-action:focus {
  color: var(--color-main);
}

.button-action:disabled {
  opacity: 0.5;
}

.Button {
  border: none;
  font-size: 1em;
  background-color: var(--color-text);
  color: var(--color-light);
  line-height: 1;
  border-radius: 0.25em;
  padding: 0.375em 0.875em;
  border: solid 0.125em transparent;
  transition: transform 0.125s;
}
.Button:hover {
  background-color: var(--color-main);
}
.Button:focus {
  border-color: var(--color-main);
  outline: none;
}
.Button::-moz-focus-inner {
  border: 0;
}
.Button:active {
  transform: scale(0.95);
}
.Button:disabled {
  cursor: not-allowed;
  background-color: var(--color-medium);
}

/* ---
borrow-form
--- */
.borrow-form {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 70em;
}
.borrow-form_label {
  flex: 2;
}
.borrow-form_label:focus-within {
  color: var(--color-main);
}
.borrow-form_labelLarge {
  flex: 3;
}
.borrow-form_labelSmall {
  flex: 1;
}
.borrow-form_label-input,
.borrow-form_label-text {
  font-size: 1em;
  color: inherit;
  display: block;
  width: 100%;
}
.borrow-form_label-input {
  border: none;
  border-bottom: 0.1875em solid var(--color-text);
}
.borrow-form_label-text {
  font-size: 0.75em;
}
.borrow-form_label-input:focus {
  border-bottom: 0.1875em solid var(--color-main);
}

/* ---
borrowed-list
--- */
.loans {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: 70em;
  border-collapse: collapse;
}
.loans-header {
  text-align: left;
  background-color: var(--color-text);
  color: var(--color-light);
}

/* ---
loan
--- */
.loans-header th,
.loan td {
  padding: 0.25em;
}
.loan:nth-child(even) {
  background-color: var(--color-light);
}
.loan:hover,
.loan:focus-within {
  background-color: var(--color-main);
}
.loan_loanDate {
  width: 6em;
}
.loan_object {
  width: 14em;
}
.loan_amount {
  width: 3em;
}
.loan_responsible {
  width: 4em;
}
.loan_returnDate {
  width: 6em;
}
.loan_returnDate button {
  width: 100%;
}

/* ANIMATION */
@keyframes pulse {
  0% {
    color: var(--color-text);
    fill: var(--color-text);
  }
  100% {
    color: var(--color-main);
    fill: var(--color-main);
  }
}

/* ANIMATION */
@keyframes fadePopIn {
  0% {
    opacity: 0;
    transform: translateY(var(--startY, 0)) scale(0.2);
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
