<div class="Footer">
  {% include "components/MenuButton.njk" %}
  <section class="Footer-content">
    <div class="Footer-contact">
      <h4>Get in touch</h4>
      <ul>
        {% for item in settings.contact %}
        <li><a href="{{item.path}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="Footer-info">
      <h4>Opening hours in the lab</h4>
      <ul>
        {% for item in settings.openingHours %}
        <li><span class="Footer-day">{{item.day}}</span> <span class="Footer-time">{{item.start}} - {{item.end}}</span></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>