<div class="Navbar">

  <a class="Navbar-brand" href="/" aria-label="Home">
    <span class="Navbar-logo">
    {% include "images/ioio-logo.svg" %}
    </span>
  </a>

  <ul class="Navbar-pageMenu">
    <li class="Navbar-pageMenuItem"><a  class="Navbar-link" href="/">Home</a></li>
    <li class="Navbar-pageMenuItem"><a  class="Navbar-link" href="/lending">Loans</a></li>
    <li class="Navbar-pageMenuItem"><a  class="Navbar-link" href="/q">Q</a></li>
  </ul>

  {% include "components/UserMenu.njk" %}
  
</div>