  <div class="PageMenu">

    <div class="PageMenu-user">
      <button class="Navbar-button Navbar-registration">register</button>
      <button class="Navbar-button Navbar-login">log in</button>
      <button class="Navbar-button Navbar-logout">log out</button>
    </div>
  </div>