user-menu {
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-menu-title {
  font-size: 1em;
  margin: 0;
}
user-menu button {
  font-family: inherit;
  font-size: 1em;
  color: var(--color-text);
  background-color: transparent;
  padding: 0;
  border: none;
  font-weight: inherit;
}
user-menu button:hover,
user-menu button:active {
  color: var(--color-main);
}
user-menu button:focus {
  color: var(--color-main);
  outline: none;
}
user-menu button::-moz-focus-inner {
  border: 0;
}
.user-menu-user {
  display: flex;
  align-items: center;
  padding: 0.25em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  margin: 0.5em 0;
}
.user-menu-name {
  font-size: 0.75em;
  flex: 1;
  margin: 0;
}
.user-menu-avatar {
  border-radius: 0.25em;
  width: 2.778em;
  height: 2.778em;
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  user-menu {
    align-items: flex-end;
  }
}
