<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    {% include "components/FirebaseScripts.njk" %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script type="module" src="/js/user-menu.mjs"></script>
    <script type="module" src="/js/app.mjs"></script>
    {% if customScripts %}
      {% include "components/CustomScripts.njk" %}
    {% endif %}

  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
      {% include "components/Modal.njk" %}
  <script>
    var firebaseConfig = {
      {% for key, value in firebase %}
        {{key}}: "{{value}}",
      {% endfor %}
    };
  </script>
  </body>
</html>
