---
layout: layouts/base.njk
templateClass: Page
---
<header class="Page-header">
{% include "components/Navbar.njk" %}
</header>
<main class="Page-main">
  {{ content | safe }}
</main>
<aside class="Page-sidebar">
</aside>
<footer class="Page-footer">
  {% include "components/Footer.njk" %}
</footer>