.CurrentTicket-placeInLine,
.CurrentTicket-login {
  display: none;
  align-items: center;
  max-width: 20em;
  margin: 0 auto 2em;
  padding: 1.5em;
  height: 8em;
}

.CurrentTicket-placeInLine {
  background-color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-right: dashed 2px var(--shade-medium);
  border-left: dashed 2px var(--shade-medium);
}

.CurrentTicket-login {
  text-align: center;
}

.State-hasTicket .CurrentTicket-loaded .CurrentTicket-placeInLine {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.State-loggedOut .CurrentTicket-loaded .CurrentTicket-login {
  display: block;
}

.CurrentTicket-placeInLine p {
  margin: 0 0 0.5em;
}
.State-qOffline .CurrentTicket-placeInLine {
  opacity: 0;
}
