.QLogo-brand {
  height: 50%;
  display: flex;
  align-content: center;
  fill: rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  position: relative;
  top: -1em;
}

.QLogo {
  display: flex;
  align-items: center;
}
.QLogo-logo {
  font-family: monospace;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
}
.QLogo-byline {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0.25em;
}
.QLogo-brand svg {
  margin-left: 0.25em;
  width: 2em;
}
.QLogo-brand .ioio-logo-characters {
  fill: var(--color-ticket-roll);
}
