<section class="TicketQueue">

  <div class="TicketQueue-loader">
    Loading queue...
  </div>

  <div class="TicketQueue-cta">
    Log in to take a ticket
  </div>

  <div class="TicketQueue-currentTicket">
    <p>You are waiting in line</p>
  </div>

  <ol class="TicketQueue-tickets"></ol>

</section>