<section class="TicketRoll">
  {% include "./QLogo.njk" %}
  <div class="TicketRoll-container">
    <div class="TicketRoll-ticket">
      <div class="TicketRoll-spacer"></div>
      <button class="TicketRoll-button">
        <span class="TicketRoll-label">Take a ticket</span>
        <span class="TicketRoll-number"><span class="TicketRoll-numberPadding">00</span>1</span>
        <span class="TicketRoll-estimation"> 0 min
        </span>
      </button>
    </div>
  </div>
  <div class="TicketRoll-offline">
    Q App is offline
  </div>
</section>