<section class="TicketRoll">
  {% include "./QLogo.njk" %}
  <div class="TicketRoll-container">
    <div class="TicketRoll-ticket">
      <div class="TicketRoll-spacer"></div>
      <button class="TicketRoll-button">
        <span class="TicketRoll-number">001</span
        ><span class="TicketRoll-label">Take ticket</span>
      </button>
    </div>
  </div>
</section>