.TicketQueue {
}

.TicketQueue-loader {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  animation: pulse 0.5s infinite alternate;
}
.TicketQueue-loaded .TicketQueue-loader {
  display: none;
}

.TicketQueue-tickets {
  opacity: 1;
  transition: opacity 0.25s, transform 0.5s;
  list-style: none;
  counter-reset: ticket-counter;
  max-width: 40em;
  margin: 0 auto;
  padding: 0;
}
.State-booting .TicketQueue-tickets {
  opacity: 0;
  transform: translateY(1em);
}
.State-qOffline .TicketQueue-tickets {
  display: none;
}
.State-qOffline.State-admin .TicketQueue-tickets {
  display: block;
}

.TicketQueue-user {
  flex: 1;
}
.TicketQueue-resolve {
  display: none;
}
.State-admin .TicketQueue-resolve {
  display: initial;
}
