.TicketQueue {
}

.TicketQueue-loader {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  animation: pulse 0.5s infinite alternate;
}
.TicketQueue-loaded .TicketQueue-loader {
  display: none;
}

.TicketQueue-tickets {
  opacity: 1;
  transition: opacity 0.25s, transform 0.5s;
  list-style: none;
  counter-reset: ticket-counter;
  max-width: 40em;
  margin: 0 auto;
  padding: 0;
}
.State-booting .TicketQueue-tickets {
  opacity: 0;
  transform: translateY(1em);
}
.State-qOffline .TicketQueue-tickets {
  display: none;
}
.State-qOffline.State-admin .TicketQueue-tickets {
  display: block;
}

.TicketQueue-user {
  flex: 1;
}
.TicketQueue-resolve {
  display: none;
}
.State-admin .TicketQueue-resolve {
  display: initial;
}

.TicketQueue-currentTicket,
.TicketQueue-cta {
  display: none;
  align-items: center;
  max-width: 20em;
  margin: 0 auto 2em;
  padding: 1.5em;
  height: 8em;
}

.TicketQueue-currentTicket {
  background-color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-right: dashed 2px var(--shade-medium);
  border-left: dashed 2px var(--shade-medium);
}

.TicketQueue-cta {
  text-align: center;
}

.State-hasTicket .TicketQueue-loaded .TicketQueue-currentTicket {
  display: flex;
}
.State-loggedOut .TicketQueue-loaded .TicketQueue-cta {
  display: block;
}

.TicketQueue-currentTicket p {
  margin: 0 0 0.5em;
}
.State-qOffline .TicketQueue-currentTicket {
  opacity: 0;
}
