---
layout: layouts/page.njk
tags:
  - nav
navtitle: Lending
---

<template id="loan">
  <tr class="loan" data-doc-id="">
    <td class="loan_loanDate">Date</td>
    <td class="loan_name">Borrower</td>
    <td class="loan_object">Item</td>
    <td class="loan_amount">#</td>
    <td class="loan_responsible">TA</td>
    <td class="loan_returnDate">Returned</td>
  </tr>
</template>

<template id="modal">
  <div class="modal-bg">
    <div class="modal">
      <p class="modal-item_loanDate">Date</p>
      <p class="modal-item_name">Borrower</p>
      <p class="modal-item_object">Item</p>
      <p class="modal-item_amount">#</p>
      <p class="modal-item_responsible">TA</p>
      <p class="modal-item_returnDate">Returned</p>
      <p class="modal-item_key">key</p>
      <div class="modal-actions">
        <button class="modal-relend">borrowed</button>
        <button class="modal-return">return</button>
      </div>
    </div>
  </div>
</template>


<div class="form-container">
  <form class="borrow-form">
    <label class="borrow-form_label borrow-form_label-large">
      <span class="borrow-form_label-text">Borrower</span>
      <input
        class="borrow-form_label-input"
        type="text"
        name="name"
        required
      />
    </label>
    <label class="borrow-form_label borrow-form_label-large">
      <span class="borrow-form_label-text">Item</span>
      <input
        class="borrow-form_label-input"
        type="text"
        name="object"
        required
      />
    </label>
    <label class="borrow-form_label borrow-form_label-small">
      <span class="borrow-form_label-text">Count</span>
      <input
        class="borrow-form_label-input"
        type="number"
        min="1"
        name="amount"
        value="1"
      />
    </label>
    <button class="button-action" disabled>Borrow</button>
  </form>
</div>
<p class="borrowed-header"></p>
<table class="loans">
  <thead class="loans-header">
    <th class="loan_loanDate">Loan Date</th>
    <th class="loan_name">Borrower</th>
    <th class="loan_object">Item</th>
    <th class="loan_amount">#</th>
    <th class="loan_responsible">TA</th>
    <th class="loan_returnDate">Returned</th>
  </thead>
  <tbody class="loans-body"></tbody>
</table>
<!-- <ol class="borrowed-list"></ol> -->
<div class="modal-bg">
  <div class="modal"></div>
</div>

<script
  defer
  src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"
></script>
<script
  defer
  src="https://www.gstatic.com/firebasejs/7.0.0/firebase-firestore.js"
></script>
<script
  defer
  src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"
></script>
<script defer src="/js/lending/form.js"></script>
<script defer src="/js/lending/table.js"></script>
<script defer src="/js/lending/app.js"></script>