---
layout: layouts/page.njk
tags:
  - nav
navtitle: Library
customScripts:
  - {path: "/js/lib/lib-main.mjs", type: "module"}
---

The ioio lab runs a electronics library service. Here you can borrow components and get advice for your projects for free. 

<div class="Lib">

{% include "components/lib/Loans.njk" %}
</div>