---
layout: layouts/page.njk
title: Q by ioio, Admin
customScripts:
  - {path: "/js/q/q-admin-main.mjs", type: "module"}
  - {path: "/js/q/QStats.mjs", type: "module"}
---
  <main class="QAdmin">
  {% include "components/q/QStats.njk" %}
  </main>