---
layout: layouts/page.njk
tags:
  - nav
navtitle: Queue
customScripts:
  - {path: "/js/q/q-app.mjs", type: "module"}
---

  {% include "components/q/TicketRoll.njk" %}

  {% include "components/q/TicketQueue.njk" %}

<style>
.Navbar-brand {
  display: none;
}
</style>
  