---
layout: layouts/page.njk
tags:
  - nav
navtitle: Queue
templateClass: Page QApp
customScripts:
  - {path: "/js/q/q-main.mjs", type: "module"}
---

  {% include "components/q/TicketRoll.njk" %}

  {% include "components/q/CurrentTicket.njk" %}

  {% include "components/q/TicketQueue.njk" %}

  