---
layout: layouts/page.njk
tags:
  - nav
navtitle: Q
customScripts:
- {path: "/js/q/q-app.js", type: "module"}
---

  {% include "components/q/TicketRoll.njk" %}

  {% include "components/q/TicketQueue.njk" %}
  