---
permalink: css/style.css
---

{# BASE: #}
{% include "style/variables.css" %}
{% include "style/base.css" %}

{# LAYOUTS: #}
{% include "layouts/page.css" %}
{% include "layouts/splashPage.css" %}

{# COMPONENTS: #}
{% include "components/Navbar.css" %}
{% include "components/user-menu.css" %}
{% include "components/Footer.css" %}
{% include "components/MenuButton.css" %}
{% include "components/Modal.css" %}
{% include "components/PageHero.css" %}

{# PAGES: #}
{% include "style/home.css" %}

{# Q: #}
{% include "components/q/Q-style.njk" %}